.dark-theme {
  --backgroundcolor: black;
  --contentColor: white;
  --boxshadow: 4px 4px 4px white;
}
.light-theme {
  --backgroundcolor: white;
  --contentColor: black;
  --boxshadow: 4px 4px 4px grey;
}
.App {
  background-color: var(--backgroundcolor);
  color: var(--contentColor);
}
.Grid1 {
  border: 2px solid var(--contentColor);
  border-radius: 5px;
  box-shadow: var(--boxshadow);
  margin: 30px;
}
.news-img {
  height: 200px;
  max-width: 300px;
  padding: 10px;
  object-fit: cover;
}
.article-box {
  align-items: center;
  width: 60%;
  margin: 20px auto 0 auto;
  text-align: center;
}
.info-header {
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 2px;
  width: 60%;
  margin: 20px auto 0 auto;
  border-radius: 10px;
  text-align: center;
}
.Logo {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: red;
  height: 50px;
  padding: 2px;
  margin: auto;
}
@media screen and (max-width: 480px) {
  .info-header {
    width: 90%;
  }
  .news-img {
    height: 150px;
    max-width: 200px;
    padding: 2px;
  }
  .article-box {
    width: 80%;
  }
}
